<a href="https://colab.research.google.com/github/CheesecakeIC/DS1002-psq7hm/blob/main/homework/week-8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## While-Loops

Perform the following steps in code:
1. Define a variable and populate it with `0`.
2. Create a while statement that evaluates whether that variable is less than or equal to `20`.
3. Within the while loop evaluate if the variable value is even or odd.
4. Within the while loop, if the variable value is even, print it. If not, do not print it.
5. Within the while loop, finally add `1` to the variable before it repeats.

In [7]:
# code here
splat = 0
while splat <= 20:
    if splat % 2 == 0:
        print("Even:", splat)
    splat += 1

Even: 0
Even: 2
Even: 4
Even: 6
Even: 8
Even: 10
Even: 12
Even: 14
Even: 16
Even: 18
Even: 20

True

## For-Loops with Lists

In [13]:
# Use this list in the exercises below

mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]

In [17]:
# Write a command to print out all the values of this list
for things in mylist:
  print(things)
# EXCEPT for any negative values. Omit them from the printing.
for things in mylist:
  if things < 0:
    continue
  else:
    print(things)

9
15
23
4
92
47
33
17
-4
18
38
-242

In [53]:
for things in mylist:
  if things < 0:
      print(abs(things))
  else:
    print(things)

9
15
23
4
92
47
33
17
4
18
38
242

In [55]:
# Repeat the command from above, but this time get
# the absolute value of any negative values in the list
# and print those with the other items.

for things in mylist:
  if things < 0:
      print(abs(things))
  else:
    print(things)

9
15
23
4
92
47
33
17
4
18
38
242

In [24]:
# Similar to above, write a command to print out items in
# the list but omit any values greater than 20 and less than 40.

for things in mylist:
  if 20 < things < 40:
    continue
  print(things)

9
15
4
92
47
17
-4
18
-242

## For-Loops with Dictionaries

In [3]:
capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}

In [26]:
# Write a command to print out all the keys of this dictpri

capitals.keys()

dict_keys(['United States', 'Italy', 'England', 'Thailand', 'Brazil'])

In [27]:
# Write a command to print out all the values of this dict
capitals.values()

dict_values(['Washington DC', 'Rome', 'London', 'Bangkok', 'Brasilia'])

In [28]:
# Write a command to print all the keys and values for this dict
print(capitals)

{'United States': 'Washington DC', 'Italy': 'Rome', 'England': 'London', 'Thailand': 'Bangkok', 'Brazil': 'Brasilia'}

In [38]:
# Write a command to print only the first three values and NOTHING more.
count = 0
for country, capital in capitals.items():
  if count <3:
    print(capital)
    count += 1
  else:
    break

Washington DC
Rome
London